<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>首页</title>
    <%-include layout.ejs%>
</head>
<body>
<%-include nav.ejs%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/carousel1.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/carousel2.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/carousel3.jpg" alt="">
        </div>
    </div>
</div>

</div>


<div class="container">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">目的地
            <span class="caret"></span>
        </a>
        <form class="dropdown-menu" role="menu">
            <div class="form-group">
                <label for="province">省：</label>
                <select name="" id="province" class="form-control">
                    <option value="">江苏</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">省：</label>
                <select id="city" class="form-control">
                    <option>苏州市</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="county">省：</label>
                <select id="county" class="form-control">
                    <option>吴中区</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="/card_inner" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;" >
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>            <div class="caption">
            <h4>
                倾囊相授自拍教程，教你如何称霸朋友圈
            </h4>
            <span class="btn btn-sm btn-my">自拍</span>
            <span class="btn btn-sm btn-my">朋友圈</span>
            <button class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-star pull-right"></span>
            </button>
        </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;" >
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>            <div class="caption">
            <h4>
                倾囊相授自拍教程，教你如何称霸朋友圈
            </h4>
            <span class="btn btn-sm btn-my">自拍</span>
            <span class="btn btn-sm btn-my">朋友圈</span>
            <button class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-star pull-right"></span>
            </button>
        </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;" >
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>
            <div class="caption">
                <h4>
                    倾囊相授自拍教程，教你如何称霸朋友圈
                </h4>
                <span class="btn btn-sm btn-my">自拍</span>
                <span class="btn btn-sm btn-my">朋友圈</span>
                <button class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-star pull-right"></span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img alt="100%x180" src="images/card1.jpg" style="height: 180px; width: 100%; display: block;">
            </a>            <div class="caption">
            <h4>
                倾囊相授自拍教程，教你如何称霸朋友圈
            </h4>
            <span class="btn btn-sm btn-my">自拍</span>
            <span class="btn btn-sm btn-my">朋友圈</span>
            <button class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-star pull-right"></span>
            </button>
        </div>
            <div class="divider"></div>
            <div class="card_foot">
                <div class="caption pull-right">
                    <h3>100元/次</h3>
                </div>
                <div class="caption pull-left">
                    <span class="glyphicon glyphicon-map-marker">苏州</span>

                </div>
            </div>
        </div>
    </div>

    <ul class="pagination pagination pull-right">
        <li><a href="#">&laquo;首页</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="disabled"><a href="#">末页&raquo;</a></li>
    </ul>
</div>

<%-include footerScript.ejs%>
<!--<script>-->
    <!--$('.myCarousel').carousel()-->

    <!--$(function () {-->
        <!--$("#navbar1 .dropdown-menu a").click(function () {-->
            <!--var href = $(this).attr("href");-->
            <!--$("#tab-list a[href='" + href + "']").tab("show")-->
        <!--})-->
    <!--})-->
<!--</script>-->
</body>
</html>