
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">逸途</a>

		</div>
		<div class="collapse navbar-collapse" id="navbar1">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/"><span class="glyphicon glyphicon-home">首页</span></a>
				</li>
				<li><a href="/dynamic"> <span class="glyphicon glyphicon-facetime-video">动态</span></a></li>

				<li><a href="/send"><span class="glyphicon glyphicon-pencil">发布</span></a></li>


				<li class="dropdown " id="logined">

					<a class="dropdown-toggle" href="#" data-toggle="dropdown">

						<img alt="Bob Nilson" src="images/avatar_small.jpg">

						<span class="username">Bob Nilson</span>

						<span class="glyphicon glyphicon-menu-down"></span>

					</a>

					<ul class="dropdown-menu">

						<li><a href="#"><i class="icon-envelope">消息</i></a></li>
						<li><a href="/query"><i class="icon-envelope">搜索</i></a></li>

						<li><a href="/showUser"><i class="icon-user">个人主页</i></a></li>

						<li class="divider"></li>

						<!--<li><a href="#"><i class="icon-lock"></i> Lock Screen</a></li>-->

						<li><a href="/logout"><i class="icon-key">退出</i></a></li>

					</ul>

				</li>
				<li class="dropdown " id="not_login">

					<a class="dropdown-toggle" href="#" data-toggle="dropdown">

						<!--<img alt="Bob Nilson" src="image/avatar_small.jpg">-->

						<span class="glyphicon glyphicon-user"></span>
						<span class="to_login">未登录</span>

						<span class="glyphicon glyphicon-menu-down"></span>

					</a>

					<ul class="dropdown-menu">

						<li><a href="/login"><span class="glyphicon glyphicon-log-in">登录</span></a></li>

						<li><a href="/register"><span class="glyphicon glyphicon-briefcase">注册</span></a></li>

					</ul>

				</li>
				<form action="" class="navbar-form navbar-right" role="form">
					<button class="btn btn-success btn-sign" type="button">打卡</button>
				</form>

			</ul>
		</div>
	</div>
</nav>