<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%-include layout.ejs%>
<%-include nav.ejs%>
<form method='post' action='javascript:;' role="form" id="formRegister">
    <h2>注册——</h2>
    <input type="text" required name="Id" placeholder="请输入用户名"><br><br>
    <input type="password" required name="Password" placeholder="请输入密码"><br><br>
    <button value="" onclick="register()">注册</button><span id="spanMessage"></span>
</form>

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/register.js"></script>
<%-include footerScript.ejs%>
</body>
</html>